#bg1{
    -fx-background-color: rgba(0, 100, 100, 0);
    -fx-background-repeat: stretch;
    -fx-background-size: 800 450;
    -fx-background-position: center center;
    -fx-background-image: url("GUI_login.png");
}

.text-field {
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 20%;
}

.text-field:focused {
    -fx-background-color:
            #0093EF,
            #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
            #909090,
            #FFFFFF;
}

.text-field:focused:hover {
    -fx-background-color:
            #0093EF,
            #FFFFFF;
}