
@font-face {
    src: url('res/Comix-Regular.ttf');
}
@font-face {
    src: url('./res/Hyde.ttf');
}

#bg_Login{
    -fx-background-color: rgba(0, 100, 100, 0);
    -fx-background-repeat: stretch;
    -fx-background-size: 800 450;
    -fx-background-position: center center;
    -fx-background-image: url("res/GUI_login.png");
}
#background{
    -fx-background-color: #FBB03B;
    -fx-content-display: center;
}
#close{
    -fx-background-image: url("res/GUI_closeButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 32 32;
    -fx-min-width: 32;
    -fx-min-height: 32;
}
#back{
    -fx-background-image: url("res/GUI_backButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 32 32;
    -fx-min-width: 32;
    -fx-min-height: 32;
}
#minimize{
    -fx-background-image: url("res/GUI_miniButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 32 32;
    -fx-min-width: 32;
    -fx-min-height: 32;
}
#small-button{
    -fx-background-image: url("res/GUI_button.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 159 38;
    -fx-font-size: 14pt;
    -fx-font-family: "Hyde BRK";
    -fx-text-fill: white;
}
#difficulty{
    -fx-font-size: 26pt;
    -fx-font-family: "Hyde BRK";
    -fx-text-fill: white;
}
#leicht{
    -fx-background-image: url("res/GUI_easyButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 48 48;
}
#mittel{
    -fx-background-image: url("res/GUI_mediumButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 48 48;
}
#schwer{
    -fx-background-image: url("res/GUI_hardButton.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 48 48;
}
#std-button{
    -fx-background-image: url("res/GUI_button.png");
    -fx-background-color: #FBB03B;
    -fx-background-size: 200 50;
    -fx-font-size: 18pt;
    -fx-font-family: "Hyde BRK";
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-max-width: 150px;
    -fx-background-radius: 20%;
}

.text-field:focused {
    -fx-background-color:
            #0093EF,
            #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
            #0093EF,
            #FFFFFF;
}

.text-field:focused:hover {
    -fx-background-color:
            #0093EF,
            #FFFFFF;
}

.button{
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-text-fill: #a39d9f;
    -fx-border-radius: 20%;
}